.container {
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgb(33, 38, 72) 0%, rgba(24, 18, 23, 1) 100%);
}

.title {
  color: silver;
}